<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.controllers" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.springframework.web" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
 </configuration>
