MODE=auto
JAVA_OPTS="-Xms{{ sb_app_java_opts_xms }} -Xmx{{ sb_app_java_opts_xmx }} {{ sb_app_java_opts_others | default('') }}"
sb_app_NAME={{ sb_app_name }}
{% if sb_app_service_debug is defined %}
DEBUG="{{ sb_app_service_debug }}"
{% endif %}
{% if sb_app_run_args is defined %}
RUN_ARGS={{ sb_app_run_args }}
{% endif %}
